@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
    }

body{
    font-family: 'Comfortaa-Regular','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-color: black;
}

#our_events
{
    width: 960px;
    background-color: rgb(233, 15, 51);
    margin: auto;
  
}

#our_events_title
{
    background-color: pink;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
   
}



h2
{
    background-color: yellow;
    font-size: 3.5em;
    font-weight: 100;
    align-self: center;
    height: 80px;
    width: 200px;
    overflow-x: visible;
}

#events_title_ul
{
    width: 260px;
    height: 6px;
    background-color: red;
    align-self: center;
   
}

#conteneur_titre_events
{
    background-color:white;
    width: 960px;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

#img_event_left
{
    width: 300px;
    height: 100%;
    background-color: white;
    background-repeat: no-repeat;
   
    
}

#img_event_right
{
    width: 300px;
    height: 100%;
    background-color: white;
    text-align: right;
  
}



#conteneur_events
{
    background-color: black;
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: justify;

}

.event
{
    background-color: red;
    width: 150px;
    height: 270px;
    margin: 15px;
    box-shadow: 0px 1px 10px black;
    display: flex;
    flex-direction: column;

}

.event_title
{
    background: rgb(203,32,40) top;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 0,8rem;
    height: 30px;
}