/*--------- Initialize local font for users --------*/

@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
}

/*--------- Header CSS by Youssef --------*/

body {
    width: 960px;
    margin: 0 auto;
    font-family: 'Comfortaa-Regular';
}

header {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../images/header_Background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 323px;
    margin: 0 auto;
    background-color: black;
    position: relative;
    top: 0;
}

/*--------- Menu Header CSS by Youssef --------*/

#topMenu {
    margin-right: 10%;
}

ul {
    list-style-type: none;
    color: white;
    float: right;
}

li {
    float: left;
    text-align: right;
    padding: 10px;
    font-size: 12px;
    position: relative;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/*--------- Logo Header CSS by Youssef --------*/

#topLogo {
    margin: 0 auto;
    position: absolute;
    text-align: center;
    padding: 0% 35%;
    margin-top: 9%;
}

#logoimg {
    width: 75%;
    text-align: center;
}

/*--------- Footer CSS by @badou --------*/

footer {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 960px;
    height: 300px;
    background-image: url(../images/swirl_pattern.png);
    background-repeat: repeat;
    position: absolute;
    bottom: 0;
}

#footertext {
    width: 960px;
    font-size: 50px;
    padding-top: 1%;
    position: relative;
    text-align: center;

}

#socialgroup {
    margin-right: 10%;
    text-align: center;
}

.socialicon {
    padding-left: 10%;
}