@font-face {
    font-family: 'Comfortaa-Regular';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
    }

body{
    font-family: 'Comfortaa-Regular','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    background-color: white;
}

#our_events
{
    width: 960px;
    background-color: white;
    margin: auto;
  
}

#our_events_title
{
    background-color: white;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: top;
    position: relative;
   
}



h2
{
    background-color: white;
    font-size: 2.9em;
    font-weight: 100;
    text-align: center;
    height: 80px;
    width: 300px;
    overflow-x: visible;
    position: absolute;
    top: 0;

}

#events_title_ul
{
    width: 220px;
    height: 3px;
    background-color: #9D1111;
    align-self: center;
    position: absolute;
    top: 90px;
   
}

#conteneur_titre_events
{
    background-color:white;
    width: 960px;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

#img_event_left
{
    width: 300px;
    height: 100%;
    background-color: white;
   
    
}

#img_event_right
{
    width: 300px;
    height: 100%;
    background-color: white;
    text-align: right;
  
}



#conteneur_events
{
    background-color: white;
    width: 900px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    

}

.event
{
    background-color: white;
    width: 230px;
    height: 260px;
    box-shadow: 0px 1px 10px gray;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    align-items: center;
}

.event_title
{
    background: #9D1111 top;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 0,8rem;
    height: 20px;
    width: 260px;
}

.event_month
{
    position: absolute;
    top: 40px;
    font-weight: bold;
    color: #5DE2FA;
    
}

.event_day
{
    position: absolute;
    top: 70px;
    font-weight: bold;
    
}

.event_descr
{
    position: absolute;
    top: 100px;
    text-align: center;
    width: 115px;
    font-weight: bold;
    font-size: 0.8em;
    
}

.event  p
{
    background: white;
    width: 130px;
    height: 87px;
    align-self: left;
    text-align: center;
    font-size: 0.8em;
    bottom: 0;
    position: absolute;
    padding: 10px;
    margin-left: 15px;
    margin-bottom: 25px;
    overflow: hidden;
}